<h1>My To Do List</h1>

<ul class="todo_list">
   <li *ngFor="let task of tasks" [class.done]="task.done" [class.important]="task.important"
      (click)="toggleTask(task)">
      {{ task.name }}
      <span *ngIf="task.deadline" class="deadline">{{ task.deadline }}</span>
      <button class="remove-button" (click)="removeTask(task)">Remove</button>
   </li>
</ul>

<button (click)="sortTasksByDeadline()" class="sort-btn">Sort by Deadline</button>
<button (click)="filterTasksByPriority()" class="filter-btn">Filter by Priority</button>

<form (submit)="addTask(newTaskName.value, newTaskDeadline.value, newTaskImportant.checked)">
   <div class="form-group">
      <label for="newTaskName">Task Name:</label>
      <input type="text" id="newTaskName" #newTaskName class="form-control" required>
   </div>
   <div class="form-group">
      <label for="newTaskDeadline">Deadline:</label>
      <input type="text" id="newTaskDeadline" #newTaskDeadline class="form-control" required>
   </div>
   <div class="form-group">
      <label for="newTaskImportant">Important:</label>
      <input type="checkbox" id="newTaskImportant" #newTaskImportant class="form-check-input">
   </div>
   <button type="submit" class="btn btn-primary">Add Task</button>
</form>